{% extends "base.html" %}

{% load i18n widget_tweaks %}

{% block html-title %}Log In - RRSEF{% endblock %}

{% block title %}Log In{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="control-group error">
            <p>Your username and password didn't match. Please try again.</p>
        </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}" class="form-horizontal">
        {% csrf_token %}
        {% for field in form %}
            {% include 'horizontal_field.html' %}
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                <a href="{% url 'password_reset' %}" class="btn btn-link">Lost password?</a>
            </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}