{% extends "admin/import_export/change_list_import_item.html" %}
{% load i18n %}
{% load admin_urls %}

  <li>
    <a href="/admin/fair_projects/project/assign" class="addlink">
        {% blocktrans with cl.opts.verbose_name_plural as name %}Assign {{ name }}{% endblocktrans %}
    </a>
  </li>
<li>
    <a href="/admin/fair_projects/project/delete" class="addlink">
        {% blocktrans %}Delete Judging Assignments{% endblocktrans %}
    </a>
  </li>
<li><a href='{% url opts|admin_urlname:"import" %}' class="import_link">{% trans "Import" %}</a></li>