{% extends "base.html" %}

{% block html-title %}Project {{ project.number }}{% endblock %}

{% block title %}{{ project.title }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'fair_projects:index' %}">Projects</a></li>
        <li><a href="{% url 'fair_projects:detail' project.number %}">{{ project.number }}</a></li>
    </ol>
{% endblock %}

{% block content %}
    {% if is_submitting_teacher %}
        <a href="{% url 'fair_projects:project_update' project.number %}" class="btn btn-primary">Update</a>
        <a href="{% url 'fair_projects:project_delete' project.number %}" class="btn btn-danger">Delete</a>
    {% endif %}
    <div>{{ project.division.short_description }}</div>
    <div>{{ project.category.short_description }} - {{ project.subcategory.short_description }}</div>

    {% if student_list %}
        <div class="student-list">
            <h2>Students</h2>
            <ul class="list-group">
                {% for student in student_list %}
                <li class="list-group-item">
                    {{ student.first_name }} {{ student.last_name }} - {{ student.teacher.school.name }}
                    {% if perms.fair_projects.can_view_results or student.teacher == request.user.teacher %}
                        <a href="{% url 'fair_projects:student_feedback_form' project.number student.pk %}">Feedback Form</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if judge_list %}
        <div class="judge-list">
            <h2>Judges</h2>
            <ul class="list-group">
                {% for judge in judge_list %}
                    <li class="list-group-item">
                        <a href="{% url 'fair_projects:judge_detail' judge.user.username %}" >
                            {{ judge.user.first_name }} {{ judge.user.last_name }}
                        </a>
                    </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div>{{ project.abstract }}</div>
{% endblock %}