{% extends "base.html" %}

{% block html-title %}Projects - RRSEF{% endblock %}

{% block title %}Projects{% endblock %}

{% block content %}
    {% if project_list %}
        <ul class="list-group">
        {% for project in project_list %}
            <li class="list-group-item">
                <a href="{% url 'fair_projects:detail' project.number %}">{{ project.number }} - {{ project.title }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No projects are available.</p>
    {% endif %}
{% endblock %}