{% extends "base.html" %}

{% block html-title %}{{ judge.user.first_name }} {{ judge.user.last_name }} - RRSEF{% endblock %}

{% block title %}{{ judge.user.first_name }} {{ judge.user.last_name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'fair_projects:index' %}">Projects</a></li>
    </ol>
{% endblock %}

{% block content %}
    {% if judginginstance_list %}
        <h2>Assigned Projects <small>{{ judginginstance_list|length }}</small></h2>

        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Title</td>
                        <td>Category</td>
                        <td>Division</td>
                    </tr>
                </thead>
                <tbody>
                    {% for ji in judginginstance_list %}
                        <tr>
                            <td><a href="{% url 'fair_projects:judging_instance_detail' ji.pk %}" >{{ ji.project.number }}</a></td>
                            <td><a href="{% url 'fair_projects:judging_instance_detail' ji.pk %}" >{{ ji.project.title }}</a></td>
                            <td>{{ ji.project.subcategory.short_description }} ({{ ji.project.category.short_description }})</td>
                            <td>{{ ji.project.division.short_description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}