{% extends "base.html" %}

{% block html-title %}{{ judge.user.first_name }} {{ judge.user.last_name }}{% endblock %}

{% block title %}{{ judge.user.first_name }} {{ judge.user.last_name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'fair_projects:judge_detail' judge.user.get_username %}">My Projects</a></li>
    </ol>
{% endblock %}

{% block content %}
    {% if judginginstance_list %}
        <h2>Assigned Projects <small>{{ judginginstance_list|length }}</small></h2>

        <div class="list-group">
            {% for ji in judginginstance_list %}
                {% url 'fair_projects:judging_instance_detail' ji.pk as item_url %}
                {% with ji.project as project %}
                    {% include 'fair_projects/project_list_item.html' %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
