{% extends "base.html" %}

{% block html-title %}{{ judge.user.first_name }} {{ judge.user.last_name }} - Project {{ project.number }}{% endblock %}

{% block title %}{{ judge.user.first_name }} {{ judge.user.last_name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'fair_projects:judge_detail' judge.user.get_username %}">My Projects</a></li>
        <li><a href="{% url 'fair_projects:judging_instance_detail' judging_instance.pk %}">{{ project.number }}</a></li>
    </ol>
{% endblock %}

{% block content %}
    <h2>{{ project.title }}</h2>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">Project Information</h3>
        </div>
        <div class="panel-body">
            <div>{{ project.division.short_description }}</div>
            <div>{{ project.category.short_description }} - {{ project.subcategory.short_description }}</div>
        </div>
    
        <ul class="list-group">
            {% for student in student_list %}
                <li class="list-group-item">{{ student.first_name }} {{ student.last_name }} - {{ student.teacher.school.name }}</li>
            {% endfor %}
        </ul>
    </div>

    {% if project.abstract.strip %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Abstract</h3>
            </div>
            <div class="panel-body">
                {{ project.abstract.strip | linebreaks }}
            </div>
        </div>
    {% endif %}

    {% if project.judge_notes.strip %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Special Notes</h3>
            </div>
            <div class="panel-body">
                {{ project.judge_notes.strip | linebreaks }}
            </div>
        </div>
    {% endif %}

    {% if rubric_form %}
        {% include "rubrics/rubric_edit.html" %}
    {% else %}
        {% include "rubrics/rubric_display.html" %}
    {% endif %}

{% endblock %}