<a href="{% url 'fair_projects:detail' project.number %}" class="row list-group-item">
    <div class="col-xs-2 col-sm-1 small">{{ project.number }}</div>
    <div class="col-xs-10 col-sm-11 col-md-3 col-lg-5 col-md-push-8 col-lg-push-6 small truncated">
        <span style="float:left">{{ project.category.short_description }} </span>
        <span class="visible-sm visible-lg" style="float:left">&nbsp- {{ project.subcategory.short_description }}</span>
        <span style="float:right">{{ project.division.short_description }}</span>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-6 col-md-pull-3 col-lg-pull-5"><strong>
        {{ project.title }}
    </strong></div>

</a>