<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'print.css' %}" />
</head>
<body class="c18"><p class="c6"><span class="c13">&laquo;Team_Leaders_Last_Name&raquo;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&laquo;Who_is_the_students_research_teacher&raquo;</span>
</p>
<p class="c6"><span class="c13">Science Fair Feedback and Final Exam</span></p>
<p class="c6" id="h.gjdgxs"><span>20% of your final exam grade will be the edits you make to your display board based on the feedback you received from the school&rsquo;s science fair. &nbsp;These edits and reflections are not optional and must be completed by all students. &nbsp;The expectation is that all students will &ldquo;meet the standard&rdquo;
    for all sections of the science fair rubric. If you receive a score below 3; you must write a reflection and/or document that your display has been edited. &nbsp;Your edited boards and accompanying reflections should be submitted to your research teacher non the day of your exam.</span>
</p>
<p class="c6"><span class="c8">Scientific Thought and Process Component and Score (10% Final Exam)</span><span>&nbsp;- All projects were judged on a 1-4 scale with 1 being low and 4 being exceptional. &nbsp;</span><span
        class="c10 c4">For these areas, if your score is a 2 or below you must write a reflection, no shorter than 2 sentences&rdquo;
    that details 1) why you were unable to meet expectations (&lt;3), and 2) what changes you need to make so that you do meet expectations in the future.</span><span
        class="c10">&nbsp;Make sure that each edited section is clearly labeled so that you will receive full credit on your exam.</span>
</p><a id="t.d75c7b2e533962caaa0f7d39e7583f992bd98874"></a><a id="t.0"></a>
<table class="c17">
    <tbody>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c5"><span class="c15 c13">Component</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c5"><span class="c15 c13">Score</span></p></td>
    </tr>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c3"><span class="c0">The project demonstrates creativity in the originality of the topic, new methods, construction, design, or conclusions.</span>
        </p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c5"><span class="c0">&laquo;The_project_demonstrates_creativity_in_t&raquo;</span>
        </p></td>
    </tr>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c3"><span class="c0">The project has a clear rationale.</span>
        </p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c5"><span
                class="c0">&laquo;The_project_has_a_clear_rationale&raquo;</span></p></td>
    </tr>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c3"><span class="c0">Scientific habits of mind</span></p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c5"><span class="c0">&laquo;The_project_demonstrates_scientific_habi&raquo;</span>
        </p></td>
    </tr>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c3"><span class="c0">The logbook thoroughly documents all phases of the research project.</span>
        </p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c5"><span class="c0">&laquo;The_logbook_thoroughly_documents_all_pha&raquo;</span>
        </p></td>
    </tr>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c3"><span class="c0">The student demonstrates professionalism in his or her presentation and is able to discuss the research and respond to questions.</span>
        </p></td>
        <td class="c2" colspan="1" rowspan="1"><p class="c5"><span class="c0">&laquo;The_student_demonstrates_professionalism&raquo;</span>
        </p></td>
    </tr>
    </tbody>
</table>
<p class="c6 c9"><span></span></p>
<p class="c6"><span class="c8">Highlighted Areas</span><span>&nbsp;&ndash; </span><span class="c10">Please take a look at the specific, targeted comments concerning your skills as a presenter. &nbsp;Based on this feedback, write a 2-</span><span
        class="c10 c4">3 sentence</span><span class="c10">&nbsp;reflection about how you can practice and improve your skills as a presenter.</span><span>&nbsp; </span>
</p>
<ul class="c12 lst-kix_list_2-0 start">
    <li class="c11 c6"><span class="c16 c4">&laquo;The_following_are_areas_of_improvement_t&raquo;</span></li>
</ul>
<p class="c6 c9"><span></span></p>
<p class="c6 c9"><span></span></p>
<p class="c6 c9"><span></span></p>
<p class="c6 c9"><span></span></p>
<p class="c6 c9"><span></span></p>
<p class="c6 c9"><span></span></p>
<p class="c6 c9"><span></span></p>
<p class="c6"><span class="c8">Project Display Board Component and Score (10% Final Exam)</span><span>&nbsp; &ndash;
    Your display board should stand alone. &nbsp;This means that someone should be able to look at your board and understand what you did, how you did it, and what you learned. &nbsp;Your board should tell the complete story of your work without you there to present it. &nbsp;As a presenter, you job is to highlight the especially exciting aspects of your work and sell your project to the judges. &nbsp;Below are the component scores for your display board. &nbsp;</span><span
        class="c10 c4">For these areas, if your score is a 2 or below you must rewrite that section on your board. &nbsp;Please turn in the edited text, graph, chart, diagram, etc&hellip;
    of each section as part of your final exam.</span><span class="c10">&nbsp;Make sure that each edited section is clearly labeled so that you will receive full credit on your exam.</span>
</p><a id="t.bc87698535f866dcf9241377f68c3125e6ee05cc"></a><a id="t.1"></a>
<table class="c17">
    <tbody>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c5"><span class="c13 c15">Component</span></p></td>
        <td class="c14" colspan="1" rowspan="1"><p class="c5"><span class="c15 c13">Score</span></p></td>
    </tr>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c3"><span>The project demonstrates scientific habits of mind in the development of a </span><span
                class="c4">clear hypothesis or engineering goals.</span></p></td>
        <td class="c14" colspan="1" rowspan="1"><p class="c5"><span class="c0">&laquo;The_project_demonstrates_scientific_habi&raquo;</span>
        </p></td>
    </tr>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c3"><span>The relevant </span><span class="c4">background information</span><span
                class="c0">&nbsp;and literature in the content area have been clearly displayed and explained.</span>
        </p></td>
        <td class="c14" colspan="1" rowspan="1"><p class="c5"><span class="c0">&laquo;The_relevant_background_information_and_&raquo;</span>
        </p></td>
    </tr>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c3"><span>The </span><span class="c4">procedure and experimental design</span><span
                class="c0">&nbsp;are thorough and reflect multiple trials, controls, and/or design revisions.</span></p>
        </td>
        <td class="c14" colspan="1" rowspan="1"><p class="c5"><span class="c0">&laquo;The_procedure_and_experimental_design_ar&raquo;</span>
        </p></td>
    </tr>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c3">
            <span>The data is presented in clearly understood </span><span class="c4">graphs and tables</span><span
                class="c0">&nbsp;with captions to explain the information in them.</span></p></td>
        <td class="c14" colspan="1" rowspan="1"><p class="c5"><span class="c0">&laquo;The_data_is_analyzed_using_appropriate_s&raquo;</span>
        </p></td>
    </tr>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c3"><span>The </span><span
                class="c4">data analysis </span><span class="c0">uses appropriate statistical techniques.</span></p>
        </td>
        <td class="c14" colspan="1" rowspan="1"><p class="c5"><span class="c0">&laquo;The_data_is_analyzed_using_appropriate_s&raquo;</span>
        </p></td>
    </tr>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c3"><span class="c0">The results and conclusions are presented in an orderly manner and reflect understanding of what was done and the implications of the research.</span>
        </p></td>
        <td class="c14" colspan="1" rowspan="1"><p class="c5"><span class="c0">&laquo;The_results_and_conclusions_are_presente&raquo;</span>
        </p></td>
    </tr>
    <tr class="c7">
        <td class="c1" colspan="1" rowspan="1"><p class="c3"><span class="c0">The backboard makes effective use of photographs and/or visuals that include captions to describe the contents.</span>
        </p></td>
        <td class="c14" colspan="1" rowspan="1"><p class="c5"><span class="c0">&laquo;The_backboard_makes_effective_use_of_pho&raquo;</span>
        </p></td>
    </tr>
    </tbody>
</table>
<p class="c6 c9"><span class="c8"></span></p>
<p class="c6"><span class="c8">Highlighted Areas that MUST be changed (10% Final Exam)</span><span>&nbsp; &ndash;
    Ultimately, Science Fair is a competition. &nbsp;While it is recommended that you take all of the provided feedback and edit and redraft all aspects of your display and presentation in preparation for the Regional fair on January 27, 2017, we realize that some students will choose not to. &nbsp; However, there are some edits and redrafts that are </span><span
        class="c4">non-negotiable.</span><span>&nbsp; </span><span class="c4">These changes must be made</span><span
        class="c10 c4">!</span><span class="c10">&nbsp; Based on the specific, targeted feedback written below, you must edit and resubmit your display board. &nbsp;All edited boards should be turned in to your research teacher by 12/13/2016.</span>
</p>
<ul class="c12 lst-kix_list_1-0 start">
    <li class="c11 c6"><span class="c16 c4">&laquo;The_display_poster_must_be_edited_in_the&raquo;</span></li>
</ul>
<p class="c6 c9"><span class="c4"></span></p>
<p class="c6"><span class="c8">*Judge&rsquo;s Comments</span><span>&nbsp;&ndash; Here are the comments that the judges took time to type directly to you. &nbsp;Please take these into consideration as you prepare for the regional fair.</span>
</p>
<ul class="c12 lst-kix_list_1-0">
    <li class="c6 c11"><span class="c4 c16">&laquo;Please_feel_free_to_give_any_comments_an&raquo;</span></li>
</ul>
</body>
</html>