{% extends "base.html" %}

{% block html-title %}Science Fair Feedback - {{ student.last_name}}, {{student.first_name }}{% endblock %}

{% block page-header %}
    <div class="page-header">
        {% include "navbar.html" %}

        <div class="row">
            <p class="col-xs-8 text-left" style="font-size: 120%;"><strong>{{ student.last_name}}, {{student.first_name }}</strong></p>
            <p class="col-xs-4 text-right" style="font-size: 120%;"><strong>{{ student.teacher.user.last_name }}</strong></p>
        </div>

        <h1>{% block title %}Science Fair Feedback and Final Exam{% endblock %}</h1>

        {% block breadcrumbs %}
            <ol class="breadcrumb">
                <li><a href="{% url 'fair_projects:index' %}">Projects</a></li>
                <li><a href="{% url 'fair_projects:detail' project.number %}">{{ project.number }}</a></li>
                <li><a href="{% url 'fair_projects:student_feedback_form' project.number student.pk %}">{{ student.last_name}}, {{student.first_name }}</a></li>
            </ol>
        {% endblock %}
    </div>
{% endblock %}

{% block content %}

{% include 'fair_projects/student_feedback_common.HTML' %}

{% endblock %}