{% load i18n %}{% autoescape off %}
{% blocktrans %}
<p>
    You're receiving this email because a
    <a href="{{ site_name }}">{{ site_name }}</a>
    administrator requested a password reset for your user account.
</p>
{% endblocktrans %}

{% trans "<p>Please go to the following page and choose a new password:</p>" %}
{% block reset_link %}
{% url 'password_reset_confirm' uidb64=uid token=token as reset_url %}
<p><a href="{{ protocol }}://{{ domain }}{{ reset_url }}">
{{ protocol }}://{{ domain }}{{ reset_url }}
</a></p>
{% endblock %}
{% trans "<p>Your username, in case you've forgotten:" %} {{ user.get_username }}</p>

{% trans "<p>Thanks for using our site!</p>" %}

{% blocktrans %}
<p>
    The <a href="{{ site_name }}">{{ site_name }}</a> team
</p>
{% endblocktrans %}

{% endautoescape %}
