{% load i18n %}
{% autoescape off %}

{% blocktrans %}You're receiving this email because you have been registered as a teacher participating in the
Rockdale Regional Science and Engineering Fair.{% endblocktrans %}

{% trans "Please go to the site to begin registering your students' projects. Your username for the site is" %} {{ user.get_username }}

{% trans "Before you can begin, you will need to choose a password using the link below." %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Thanks!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
