<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block html-title %}{{ config.FAIR_NAME | default:"Science Fair" }}{% endblock %}
        - {{ config.FAIR_ABBR }}
    </title>
    {% load bootstrap3 static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'alignment.css' %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static 'print.css' %}" />
</head>
<body>
    <div class="container">
        {% block page-header %}
            <div class="page-header">
                {% include "navbar.html" %}

                <h1>{% block title %}{{ config.FAIR_NAME | default:"Science Fair" }}{% endblock %}</h1>

                {% block breadcrumbs %}
                    {% if breadcrumbs %}
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                        <li><a href="{% url breadcrumb.url %}">{{ breadcrumb.title }}</a></li>
                        {% endfor %}
                    </ol>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>