{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% if field.errors %}
        <span class="help-block">
            {% for error in  field.errors %}{{ error }}{% endfor %}
        </span>
    {% endif %}
    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
    {% if field.help_text %}
        <p class="help-block"><small>{{ field.help_text|safe }}</small></p>
    {% else %}
        <br />
    {% endif %}
        {% for choice in field.field.choices %}
            <div class="checkbox">
                <label for='id_{{field.name}}_{{forloop.counter0}}' class="checkbox">
                    <input name='{{ field.name }}'
                       id='id_{{field.name}}_{{forloop.counter0}}'
                       type='checkbox'
                       value='{{ choice.0 }}'
                       {% if not form.is_bound %}
                           {% if choice.0 in field.field.initial %}
                               checked='checked'
                           {% endif %}
                       {% else %}
                           {% if choice.0 in field.data %}
                               checked='checked'
                           {% endif %}
                       {% endif %}/>
                    {{ choice.1 }}
                </label>
            </div>
        {% endfor %}
{% endif %}