{% load i18n widget_tweaks %}

{% if rubric_form %}
    <form action="/your-name/" method="post">
        {% csrf_token %}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">{{ rubric_form.title }}</h3>
            </div>

            <div class="list-group">
                {% for field in rubric_form %}

                    <div class="list-group-item">
                        {% include field.field.template %}
                    </div>

                {% endfor %}
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            </div>
        </div>

    </form>
{% endif %}