{% load dictkey %}

<p>
    20% of your final exam grade will be the edits you make to your display board based on the feedback you received
    from the school&rsquo;s science fair. These edits and reflections are not optional and must be completed by all students.
    The expectation is that all students will "meet the standard" for all sections of the science fair rubric. If you
    receive a score below 3; you must write a reflection and/or document that your display has been edited. Your edited
    boards and accompanying reflections should be submitted to your research teacher non the day of your exam.
</p>

<h2>Scientific Thought and Process Component and Score (10% Final Exam)</h2>
<p>
    All projects were judged on a 1-4 scale with 1 being low and 4 being exceptional. For these areas, if your score is
    a 2 or below you must write a reflection, no shorter than 2 sentences that details 1) why you were unable to meet
    expectations (&lt;3), and 2) what changes you need to make so that you do meet expectations in the future. Make sure
    that each edited section is clearly labeled so that you will receive full credit on your exam.
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td><strong>Component</strong></td>
            <td><strong>Score</strong></td>
        </tr>
    </thead>
    <tbody>
        {% with questions|dictkey:"Originality" as question %}
        <tr>
            <td>{{ question.long_description }}</td>
            <td>{{ question.average_score|stringformat:'.2F' }}</td>
        </tr>
        {% endwith %}
        {% with questions|dictkey:"Rationale" as question %}
        <tr>
            <td>{{ question.long_description }}</td>
            <td>{{ question.average_score|stringformat:'.2f' }}</td>
        </tr>
        {% endwith %}
        {% with questions|dictkey:"Scientific Habits of Mind" as question %}
        <tr>
            <td>{{ question.long_description }}</td>
            <td>{{ question.average_score|stringformat:'.2f' }}</td>
        </tr>
        {% endwith %}
        {% with questions|dictkey:"Logbook" as question %}
        <tr>
            <td>{{ question.long_description }}</td>
            <td>{{ question.average_score|stringformat:'.2f' }}</td>
        </tr>
        {% endwith %}
        {% with questions|dictkey:"Professionalism" as question %}
        <tr>
            <td>{{ question.long_description }}</td>
            <td>{{ question.average_score|stringformat:'.2f' }}</td>
        </tr>
        {% endwith %}
    </tbody>
</table>

<h2>Highlighted Areas</h2>
<p>
    Please take a look at the specific, targeted comments concerning your skills as a presenter. Based on this
    feedback, write a <strong>2-3 sentence</strong> reflection about how you can practice and improve your skills as a
    presenter.
</p>
{% with questions|dictkey:"Areas for Imporvement" as question %}
    <ul>
        {% for comment in question.combined_response_set_external %}
            <li>{{ comment }}</li>
        {% endfor %}
    </ul>
{% endwith %}

<h2>Project Display Board Component and Score (10% Final Exam)</h2>
<p>
    Your display board should stand alone. This means that someone should be able to look at your board and understand
    what you did, how you did it, and what you learned. Your board should tell the complete story of your work without
    you there to present it. As a presenter, you job is to highlight the especially exciting aspects of your work and
    sell your project to the judges. Below are the component scores for your display board. For these areas, if your
    score is a 2 or below you must rewrite that section on your board. Please turn in the edited text, graph, chart,
    diagram, etc&hellip; of each section as part of your final exam. Make sure that each edited section is clearly labeled so
    that you will receive full credit on your exam.
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td><strong>Component</strong></td>
            <td><strong>Score</strong></td>
        </tr>
    </thead>
    <tbody>
        {% with questions|dictkey:"Scientific Habits of Mind" as question %}
            <tr>
                <td>{{ question.long_description }}</td>
                <td>{{ question.average_score|stringformat:'.2f' }}</td>
            </tr>
        {% endwith %}
        {% with questions|dictkey:"Background" as question %}
        <tr>
            <td>{{ question.long_description }}</td>
            <td>{{ question.average_score|stringformat:'.2f' }}</td>
        </tr>
        {% endwith %}
        {% with questions|dictkey:"Experimental Design" as question %}
        <tr>
            <td>{{ question.long_description }}</td>
            <td>{{ question.average_score|stringformat:'.2f' }}</td>
        </tr>
        {% endwith %}
        {% with questions|dictkey:"Data Presentation (Graphs, Tables, etc...)" as question %}
        <tr>
            <td>{{ question.long_description }}</td>
            <td>{{ question.average_score|stringformat:'.2f' }}</td>
        </tr>
        {% endwith %}
        {% with questions|dictkey:"Data Analysis" as question %}
        <tr>
            <td>{{ question.long_description }}</td>
            <td>{{ question.average_score|stringformat:'.2f' }}</td>
        </tr>
        {% endwith %}
        {% with questions|dictkey:"Results and Conclusions" as question %}
        <tr>
            <td>{{ question.long_description }}</td>
            <td>{{ question.average_score|stringformat:'.2f' }}</td>
        </tr>
        {% endwith %}
        {% with questions|dictkey:"Backboard - Photos & Visuals" as question %}
        <tr>
            <td>{{ question.long_description }}</td>
            <td>{{ question.average_score|stringformat:'.2f' }}</td>
        </tr>
        {% endwith %}
    </tbody>
</table>

<h2 class="c6">Highlighted Areas that MUST be changed (10% Final Exam)</h2>

<p>
    Ultimately, Science Fair is a competition. While it is recommended that you take all of the provided feedback and
    edit and redraft all aspects of your display and presentation in preparation for the Regional fair on
    January 27, 2017, we realize that some students will choose not to. However, there are some edits and redrafts that
    are <strong>non-negotiable</strong>. <strong>These changes must be made!</strong> Based on the specific, targeted
    feedback written below, you must edit and resubmit your display board. &nbsp;All edited boards should be turned in to
    your research teacher by 12/13/2016.
</p>

{% with questions|dictkey:"Display/Poster Edits" as question %}
    <ul>
        {% for comment in question.combined_response_set_external %}
            <li>{{ comment }}</li>
        {% endfor %}
    </ul>
{% endwith %}

<h2>Judge's Comments</h2>
<p>
    Here are the comments that the judges took time to type directly to you. Please take these into consideration as
    you prepare for the regional fair.
</p>

{% with questions|dictkey:"Open feedback" as question %}
{% for comment in question.response_list_external_remove_empty %}
<div class="panel panel-default">
    <div class="panel-body">
        {{ comment }}
    </div>
</div>
{% empty %}
<div class="panel panel-default">
    <div class="panel-body">
        No comments
    </div>
</div>
{% endfor %}
{% endwith %}
